<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta http-equiv="refresh" content="30">
    <title>Raporlar</title>
</head>

<body>
<header>
    <a href="/">Çalışan botlar</a>
    <a href="/process">Yeni bot oluştur</a>
    <a href="/reports">Raporlar</a>
    <a href="/requests">Takip İstekleri</a>
    <a href="/settings">Ayarlar</a>
    <a href="clean">Temizle</a>
</header>

<a href="/download" class="btn btn-primary" style="color: white">Kara listeyi indir</a>
<br>
<br>

<div class="container" id="reportTable">
    <div class="row">
        <div class="col-sm">
            <div class="sticky"><b>Beğeniler</b> | Toplam: {{likesLength}}</div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Beğenen</th>
                    <th scope="col">Beğenilen</th>
                    <th scope="col">Tarihi</th>
                </tr>
                </thead>
                <tbody>
                {{#each likes}}
                    <tr>
                        <td>{{this.liker_account}}</td>
                        <td><a href="https://www.instagram.com/{{this.liked_account}}" target="_blank">{{this.liked_account}}</a></td>
                        <td>{{this.like_date}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <div class="sticky"><b>Takip istekleri</b> | Toplam: {{requestsLength}}</div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Atan hesap</th>
                    <th scope="col">Atılan hesap</th>
                    <th scope="col">Tarihi</th>
                </tr>
                </thead>
                <tbody>
                {{#each requests}}
                    <tr>
                        <td>{{this.requester_account}}</td>
                        <td><a href="https://www.instagram.com/{{this.requested_account}}" target="_blank">{{this.requested_account}}</a></td>
                        <td>{{this.request_date}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <div class="sticky"><b>Gönderilen Mesajlar</b> | Toplam: {{dmLength}}</div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Atan hesap</th>
                    <th scope="col">Atılan hesap</th>
                    <th scope="col">Tarihi</th>
                </tr>
                </thead>
                <tbody>
                {{#each dm}}
                    <tr>
                        <td>{{this.sender_account}}</td>
                        <td><a href="https://www.instagram.com/{{this.sent_account}}" target="_blank">{{this.sent_account}}</a></td>
                        <td>{{this.dm_date}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <div class="sticky"><b>Kara liste</b> | Toplam: {{blacklistLength}}</div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Hesap</th>
                    <th scope="col">Eklenme tarihi</th>
                </tr>
                </thead>
                <tbody>
                {{#each blacklist}}
                    <tr>
                        <td><a href="https://www.instagram.com/{{this.account}}" target="_blank">{{this.account}}</a></td>
                        <td>{{this.blacklist_date}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br><br>

</body>

</html>