<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Raporlar</title>
</head>

<body>
<header>
    <a href="/">Çalışan botlar</a>
    <a href="/process">Yeni bot oluştur</a>
    <a href="/reports">Raporlar</a>
    <a href="/requests">Takip İstekleri</a>
</header>

<br>
<br>

<div class="container" id="reportTable">
    <div class="row">
        <div class="col-sm">
            Beğeniler
            <div>Toplam: {{likesLength}}</div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Beğenen</th>
                    <th scope="col">Beğenilen</th>
                    <th scope="col">Tarihi</th>
                </tr>
                </thead>
                <tbody>
                {{#each likes}}
                    <tr>
                        <td>{{this.liker_account}}</td>
                        <td>{{this.liked_account}}</td>
                        <td>{{this.like_date}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            Takip istekleri
            <div>Toplam: {{requestsLength}}</div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Atan hesap</th>
                    <th scope="col">Atılan hesap</th>
                    <th scope="col">Tarihi</th>
                </tr>
                </thead>
                <tbody>
                {{#each requests}}
                    <tr>
                        <td>{{this.requester_account}}</td>
                        <td>{{this.requested_account}}</td>
                        <td>{{this.request_date}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            Kara liste
            <div>Toplam: {{blacklistLength}}</div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Hesap</th>
                    <th scope="col">Eklenme tarihi</th>
                </tr>
                </thead>
                <tbody>
                {{#each blacklist}}
                    <tr>
                        <td>{{this.account}}</td>
                        <td>{{this.blacklist_date}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>

</html>