<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Özetler</title>
</head>
<body>
{{>navbar}}

{{#each summary}}
{{!-- TODO --}}
    <div class="card" style="width: 18rem; margin-top: 10px;">
        <div class="card-body">
            <h3 class="card-title">{{this.account}}</h5>
            <p class="card-text">Gönderilen beğeni sayısı: {{this.sent_likes}}</p>
            <p class="card-text">Gönderilen takip isteği sayısı: {{this.sent_requests}}</p>
            <p class="card-text">Gönderilen DM sayısı: {{this.sent_dm}}</p>
            <p class="card-text">Başlama tarihi: {{this.end_date}}</p>
        </div>
    </div>
{{/each}}
    
</body>
</html>